node_modules
logs/
!logs/.gitkeep
.pnpm-store
dist
.env
.env.*
!.env.example
.turbo
coverage
.DS_Store
secrets/
*.sa-key.json
gcs-sa-key.json
**/src/**/*.js
**/src/**/*.d.ts
npm-debug.log*
pnpm-debug.log*
