PORT=8081
API_BASE_PATH=v1/admin
MONGODB_URI=mongodb://127.0.0.1:27017/your-app-name
JWT_SECRET=change-me-in-production
REDIS_URL=redis://127.0.0.1:6379
ADMIN_REALTIME_API_KEY=dev-admin-realtime-api-key
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
